@import "tailwindcss";

@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@theme {
    --color-primary: #0353A4;
    --color-secondary: #B9D6F2;
    --color-dark: #061A40;
    --color-accent-1: #006DAA;
    --color-accent-2: #003559;
    --font-sans: 'GmarketSans', sans-serif;
}

@layer base {
    body {
        @apply bg-slate-50 text-slate-900 font-sans;
    }
}